---
layout: base.njk
---

<header>
  <span></span>
  <span></span>
  <span></span>
  <small>voightware/index.html</small>
</header>
<main>
  <section>
    <small>~/repos/voightware/website $</small>
    <h1><img src="https://avatars.githubusercontent.com/u/57637190?s=200&v=4" alt="Voightware icon monomark">Voightware
    </h1>
    <h2>Creating open-source tools and utilities</h2>
    <p>▸ Build and Maintained by <a href="https://www.dandevri.es/about">Danny de Vries</a></p>
  </section>

  <section>
    <h3>About this project</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae commodi fuga labore aliquid in ad
      cupiditate
      maiores magnam impedit. Distinctio blanditiis recusandae nisi numquam neque, similique ullam inventore mollitia
      saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe iste molestiae iusto excepturi
      temporibus
      esse voluptate aperiam vel vero maxime, adipisci architecto fuga necessitatibus. Enim quia suscipit atque placeat?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut debitis ipsam accusantium? Repellendus soluta
      doloremque, natus quo debitis iusto inventore unde nulla dolor voluptatibus repellat ullam dolorum, fuga illo.</p>
    <a href="#">View organization on GitHub</a>
  </section>

  <section>
    <h3>Projects</h3>
    <div>
      <article>
        <h4>{{ micro.name }}</h4>
        <p>{{ micro.description }}</p>
        <ul>
          <li>11ty</li>
          <li>Starter</li>
          <li>Boilerplate</li>
        </ul>
        <span>★ {{ micro.stargazers }}</span>
      </article>
      <article>
        <h4>{{ tyrell.name }}</h4>
        <p>{{ tyrell.description }}</p>
        <ul>
          <li>VSCode</li>
          <li>Notes</li>
          <li>Foam </li>
        </ul>
        <span>★ {{ tyrell.stargazers }}</span>
      </article>
      <article>
        <h4>{{ deckard.name }}</h4>
        <p>{{ deckard.description }}</p>
        <ul>
          <li>Theme</li>
          <li>Syntax</li>
          <li>Colours</li>
        </ul>
        <span>★ {{ deckard.stargazers }}</span>
      </article>
    </div>
  </section>

  <h3>Contribute and Support</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae commodi fuga labore aliquid in ad cupiditate
    maiores magnam impedit. Distinctio blanditiis recusandae nisi numquam neque, similique ullam inventore mollitia
    saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe iste molestiae iusto excepturi temporibus
    esse voluptate aperiam vel vero maxime, adipisci architecto fuga necessitatibus. Enim quia suscipit atque placeat?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut debitis ipsam accusantium? Repellendus soluta
    doloremque, natus quo debitis iusto inventore unde nulla dolor voluptatibus repellat ullam dolorum, fuga illo.</p>
</main>