---
layout: base.njk
---

<header>
  <span></span>
  <span></span>
  <span></span>
  <small>voightware/index.html</small>
</header>
<main>
  <h1>Voightware</h1>
  <h2>One man development post building themes and libraries for replicants.</h2>

  <h3>About this project</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae commodi fuga labore aliquid in ad cupiditate
    maiores magnam impedit. Distinctio blanditiis recusandae nisi numquam neque, similique ullam inventore mollitia
    saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe iste molestiae iusto excepturi temporibus
    esse voluptate aperiam vel vero maxime, adipisci architecto fuga necessitatibus. Enim quia suscipit atque placeat?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut debitis ipsam accusantium? Repellendus soluta
    doloremque, natus quo debitis iusto inventore unde nulla dolor voluptatibus repellat ullam dolorum, fuga illo.</p>

  <h3>Projects</h3>

  <h3>Contribute and Support</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae commodi fuga labore aliquid in ad cupiditate
    maiores magnam impedit. Distinctio blanditiis recusandae nisi numquam neque, similique ullam inventore mollitia
    saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe iste molestiae iusto excepturi temporibus
    esse voluptate aperiam vel vero maxime, adipisci architecto fuga necessitatibus. Enim quia suscipit atque placeat?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut debitis ipsam accusantium? Repellendus soluta
    doloremque, natus quo debitis iusto inventore unde nulla dolor voluptatibus repellat ullam dolorum, fuga illo.</p>
</main>