html {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#292929 0.4px, #000000 0.4px);
  background-size: 8px 8px;
  font-weight: 400;
  display: grid;
  place-content: center;
  height: 98vh;
  line-height: 1.6;
  font-size: 1.4em;
}

main {
  background: #101010;
  color: white;
  width: 100vh;
  height: 70vh;
  padding: 2em;
  overflow-y: scroll;
}

header {
  background: #1c1c1c;
  color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
}

header small {
  margin-left: auto;
}

header span {
  width: 8px;
  height: 8px;
  background: white;
  display: inline-block;
  border-radius: 100%;
  margin-right: 0.3em;
}

section {
  border-bottom: 2px dashed #1c1c1c;
}

p a {
  background: transparent;
  text-decoration: underline;
  color: white;
  padding: 0;
}

a {
  display: inline-block;
  background: white;
  color: black;
  padding: 0 0.4em;
  margin-bottom: 1em;
  text-decoration: none;
}

article {
  border: 2px dashed #1c1c1c;
  padding: 1em;
}

article span {
  font-size: 0.8em;
}

section div {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2em;
}

article ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

article li {
  font-size: 0.8em;
  background: #1c1c1c;
  margin-right: 0.5em;
}

section small {
  color: #484848;
}

h1 img {
  width: 1.5em;
  margin-right: 0.5em;

}

h1 {
  display: flex;
  align-items: center; 
}