html {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#292929 0.4px, #000000 0.4px);
  background-size: 8px 8px;
  font-weight: 400;
  display: grid;
  place-content: center;
  height: 98vh;
  line-height: 1.6;
}

main {
  background: #101010;
  color: white;
  width: 100vh;
  height: 70vh;
  padding: 2em;
  overflow-y: scroll;
}

header {
  background: #1c1c1c;
  color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
}

header small {
  margin-left: auto;
}

header span {
  width: 8px;
  height: 8px;
  background: white;
  display: inline-block;
  border-radius: 100%;
  margin-right: 0.3em;
}
